NODE_ENV=development

DATABASE_URL="postgresql://postgres:password@127.0.0.1:5432/nest"

JWT_ACCESS_TOKEN_SECRET="secretsuperlong"
# JWT_ACCESS_TOKEN_EXPIRES_IN=3600000 # 1h
JWT_ACCESS_TOKEN_EXPIRES_IN=60000 # 1min

JWT_REFRESH_TOKEN_SECRET="secretsuperlong"
JWT_REFRESH_TOKEN_EXPIRES_IN=604800000 # 7d

ADMIN_EMAIL="test@test.com"